@model TableTennis.Blade

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Blade</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BladeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BladeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Composite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Composite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Factory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Factory.FactoryName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
