@model IEnumerable<TableTennis.Blade>

@{
    ViewData["Title"] = "Index";
}

<h1>Blades</h1>

<p>
    <a asp-action="Create">Add a new blade</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BladeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Composite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Factory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BladeName)
            </td>
            <td>
                @(item.Composite ? "Carbon" : "Wood")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Factory.FactoryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
