@model IEnumerable<TableTennis.Racket>

@{
    ViewData["Title"] = "Index";
}

<h1>Rackets</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Blade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bhrubber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fhrubber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Blade.BladeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bhrubber.RubberName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fhrubber.RubberName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
